.site-wrapper#landing-page {
	background: -webkit-linear-gradient(top,#82085f,#201a60);
}

.site-wrapper#search-page {
	background: -webkit-linear-gradient(top,#201a60,#1697C9);
}

.site-wrapper#weather-page {
	background: -webkit-linear-gradient(top,#1697C9,#1BE350);
}

.site-wrapper#mood-page {
	background: -webkit-linear-gradient(top,#1BE350,#E3E01B);
}

.site-wrapper#last-page {
	background: -webkit-linear-gradient(top,#E3E01B,#E33D1B);
}

.mood-images img {
	height: 250px;
	width: 250px;
	margin: 20px 0 20px 0;
	text-align: center;
}

textarea {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #000;
}

.cover-heading.degrees-text {
	font-size: 100px;
	text-align: center;
}

.cover-heading.degrees-icon {
	font-size: 100px;
}

#zipcode-button {
	font-weight: bold;
}